.Landing {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 120px;
  color: #ffffff;
  background-image: linear-gradient(-116deg, #B873AC 5%, #8BB2E2 100%);
}

.Landing_Title_Playlist_Analyzer {
  font-size: 50px;
}

.Landing_Title_Spotify {
  font-size: 40px;
  font-weight: normal;
}

.Landing_Title_Web_App {
  font-size: 20px;
  font-weight: normal;
}

.Landing_Title_Name {
  font-weight: 600;
  color: #eee;
}

.Landing_Button_Login {
  width: 200px;
  height: 70px;
  background-color: #2DC760;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.5s;
}

.Landing_Button_Login:hover {
  cursor: pointer;
  background-color: #2FD566;
}

.Landing_Button_Login:focus {
  outline: none;
}