.AllTracks {
  padding: 20px 70px;
}

.AllTracks_TrackList {
  width: 100%;
}

.TrackList_HeaderCell:hover {
  cursor: pointer;
  color: #222;
}

.TrackList_Row:hover {
  background-color: #eee;
}

.AllTracks_TrackList table {
  border-collapse: collapse;
}

.AllTracks_TrackList th {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  color: #bbb;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.AllTracks_TrackList td {
  padding: 12px 0px;
  padding-right: 20px;
  list-style-type: none;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: solid 1px #d8d8d8;
  border-collapse: collapse;
  max-width: 150px;
}

.SearchBar {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background: transparent;
  font-size: 14px;
  border-radius: 3px;
  margin: 10px 0px;
}

.SearchBar:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.PlaylistHeader_Name {
  color: #95a4d6;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 20px;
}

.PlaylistSubHeader_Name {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
}

.PlaylistHeader_Subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 30px;
}

.Bold {
  font-weight: bold;
  font-size: 12px;
}

.Spinner {
  height: 50px;
  margin-top: 20%;
}

.centered {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .TrackList_HeaderCell_Album {
    display: none;
  }

  .Tracklist_Album {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .TrackList_HeaderCell_Artist {
    display: none;
  }

  .Tracklist_Artist {
    display: none;
  }

  .PlaylistHeader_Name {
    font-size: 30px;
  }

  .PlaylistSubHeader_Name {
    font-size: 13px;
  }
}
