.FeatureBar_Outer {
  background: #d8d8d8;
  border-radius: 100px;
  height: 20px;
}

.FeatureBar_Inner {
  background: #757373;
  border-radius: 100px;
  height: 20px;
}

.FeatureBar_Inner:hover {
  background: #666;
}
