.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.Header_Img {
  height: 35px;
  border-radius: 30px;
}

.Header_Name {
  margin-left: 10px;
  margin-right: 15px;
}

.Header_Logout {
  margin-left: 10px;
  margin-right: 20px;
  background: #95A4D6;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  transition: background-color 0.5s;
}

.Header_Logout:hover {
  cursor: pointer;
  background: #8594C4;
}