.PlaylistHeader {
  padding: 70px;
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlaylistHeader_Metadata {
  display: inline-block;
  margin-left: 50px;
}

.PlaylistHeader_Title {
  font-weight: normal;
}

.PlaylistHeader_Name {
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
}

.PlaylistHeader_Image {
  height: 150px;
  width: 150px;
  display: inline-block;
}

.PlaylistHeader_TrackCount {
  font-weight: normal;
}
