.Sidebar {
  background-color: #F0F0F0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 1;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px;
  padding-left: 0px;
  padding-top: 60px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding-bottom: 80px;
}

.Sidebar_Title_Playlists {
  font-weight: 600;
  padding-left: 40px;
}

.Sidebar_Playlist_Unselected {
  padding-left: 40px;
}

.Sidebar_Playlist_Selected {
  font-weight: 700;
  border-left: solid 10px #2FE48F;
  padding-left: 30px;
}

.Sidebar li {
  list-style-type: none;
  margin-bottom: 23px;
  color: #444444;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Sidebar li:hover {
  cursor: pointer;
  color: #2FD566;
}

.Sidebar::-webkit-scrollbar {
  width: 5px;
  display: none;
  transition: 2s;
}

.Sidebar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.Sidebar:hover::-webkit-scrollbar {
  display: block;
}
