.Stats {
  padding: 20px 70px;
}

.Stats_Averages_Title {
  font-size: 20px;
  letter-spacing: 0.05em;
}

.Stats_TableRow td {
  padding-right: 20px;
  padding-bottom: 20px;
  color: #AAA;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.Stats_FeatureName:hover {
  color: #999;
  cursor: default;
}

.react-tooltip-lite {
  background: #222;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.05em;
  width: 200px;
}

.react-tooltip-lite-arrow {
  border-color: #222;
}